
.white-background {
    background-color: white;
}
.actor-font {
    font-family: "Actor", sans-serif;
}

.bg-gif {
    background-image: url("./background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-black {
    background: linear-gradient(to right, #1E1E1E, #222222);
}
.bg-new {
    background-image: url("./new-bg.png");
    background-size: cover;
    background-position: center;
}

.btn-container {
    margin-right: 10px;
}

.small-card {
    text-align: center;
    padding: 10px;
    font-family: "Actor", sans-serif;
}
.row-title {
    font-family: "Actor", sans-serif;
    margin-left: 20px;
    font-size: 25px;
}

.btn-green {
    background: #24F129;
}
.value-card {
    padding: 3rem 6rem;
}