@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

@keyframes fadeIn {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
  .birdlyLogo {
    animation: fadeIn 2s ease-in-out forwards;
  }

  /* Definir la animación fadeInUp */
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Clases comunes para la animación */
  .animated-button {
    animation: fadeInUp 0.5s ease-in-out forwards; /* Dura 0.5s y usa la animación fadeInUp */
    opacity: 0; /* Comienza invisible */
  }
  
  /* Establecer el retraso para cada botón */
  .button-email {
    animation-delay: 0.2s;
  }
  
  .button-coinbase {
    animation-delay: 0.4s;
  }
  
  .button-wallet {
    animation-delay: 0.6s;
  }

.loginBtn {
    color: #0D4FE1;
    background-color: white;

}

.menu {
    height: 60vh;
}
.fixedWidth {
    width: 20rem;
}

.loginImg {
    width: 25px;
    margin-right: 10px;
}

.specialBtn button {
    background-color: white;
    color: #0D4FE1;
    width: 20rem;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;

}
.row.socials-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
.socials-login .loginBtn {
    width: 6.2rem;
}

.ad-text {
    text-align: start;
    font-family: "Actor", sans-serif;
    color: white;
}

.ad-text h6 {
    font-size: 25px;
}

.ad-text h3 {
    font-size: 30px;
}



