.balance-wrapper {
    display: flex;
    align-items: center;
  }
  
  .balance-wrapper > div {
    display: flex;
    align-items: center;
  }
  
  .balance-wrapper .hide,
  .balance-wrapper p:not(.actor-font) {
    display: none;
  }