.bg-gif {
    background-image: url("./background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-two {
    background-color: #0D4FE1;
}

.birdLogo {
    width: 30%;
}

.page-three {
    background-color: #D723C4;
}